@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scrollbar-width: thin;
    scrollbar-color: #3dde8b #ffffff;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* scrollbar */

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 1.5rem;
}

*::-webkit-scrollbar-thumb {
    background: #3dde8b;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
    background: #3dde8b;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a {
    display: inline-block;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

svg {
    vertical-align: middle !important;
}

input,
button,
textarea,
select {
    font: inherit;
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    overflow-wrap: break-word;
}

span {
    display: block;
}

.container {
    max-width: 85%;
    margin-inline: auto;
}

// Fonts

$lato: 'Lato', sans-serif;
$Open_sans: 'Open Sans', sans-serif;
$Poppins: 'Poppins', sans-serif;

// Colors

$Primary_Color: #3dde8b;
$Color_White: #ffffff;
$Color_black: #060707;
$Color_Orange: #f97218;


//! Pre Loader Design

#pre_Loader {
    background-color: $Color_black;
    width: 100%;
    height: 100vh;
    z-index: 222;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}








.pl {
    width: 6em;
    height: 6em;
}

.pl__ring {
    animation: ringA 2s linear infinite;
}

.pl__ring--a {
    stroke: #f42f25;
}

.pl__ring--b {
    animation-name: ringB;
    stroke: #f49725;
}

.pl__ring--c {
    animation-name: ringC;
    stroke: #255ff4;
}

.pl__ring--d {
    animation-name: ringD;
    stroke: #f42582;
}

/* Animations */
@keyframes ringA {

    from,
    4% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }

    12% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -335;
    }

    32% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -595;
    }

    40%,
    54% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -660;
    }

    62% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -665;
    }

    82% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -925;
    }

    90%,
    to {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -990;
    }
}

@keyframes ringB {

    from,
    12% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -110;
    }

    20% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -115;
    }

    40% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -195;
    }

    48%,
    62% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    70% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    90% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -305;
    }

    98%,
    to {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }
}

@keyframes ringC {
    from {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    8% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    28% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    36%,
    58% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    66% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    86% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    94%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}

@keyframes ringD {

    from,
    8% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    16% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    36% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    44%,
    50% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    58% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    78% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    86%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}


//! Pre Loader Design End



@media (max-width:1680px) {

    html {
        font-size: 53%;
    }

}

@media (max-width:1440px) {

    html {
        font-size: 47%;
    }

    .container {
        max-width: 90%;
    }
}

@media (max-width:1280px) {

    html {
        font-size: 42%;
    }

}

@media (max-width:1080px) {

    .container {
        max-width: 93%;
    }


}

@media (max-width:767px) {

    .container {
        max-width: 95%;
    }
}

@media (max-width:575px) {

    .container {
        max-width: 97%;
    }
}