.footer_sec {
    @include cmn_pdng;
    background-color: $Primary_Color;

    .ftr_otr {
        display: grid;
        grid-template-columns: 50% 50%;
        place-items: center;


        .ftr_inr {
            border-right: 1px solid $Color_White;
            width: 100%;
            padding: 20px 0;
            padding-right: 100px;

            &:last-child {
                padding-left: 100px;
                padding-right: 0;
                border: none;
            }

            .ftr_icn {

                font-size: 6.5rem;
                font-family: $Open_sans;
                color: $Color_White;
                font-weight: 700;
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .ftr_cntnt p {
                font-size: 2.2rem;
                color: $Color_White;
                font-family: $Open_sans;
                padding: 20px 0;
            }

            .scl_icns {
                display: flex;
                align-items: center;
                gap: 15px;

                a {
                    width: 40px;
                    height: 40px;
                    color: $Primary_Color;
                    border-radius: 50px;
                    background-color: $Color_White;
                    font-size: 20px;
                    display: grid;
                    place-items: center;
                    transition: 0.7s all;

                    svg {
                        transition: 0.7s all;
                    }

                    &:hover {
                        border-radius: 0;

                    }

                    &:hover svg {
                        display: inline-block;
                        rotate: 360deg;
                    }
                }
            }

            .ftr_left {
                display: grid;
                grid-template-columns: 30% 30% 30%;
                justify-content: space-between;

                h2 {
                    font-size: 2.5rem;
                    color: $Color_White;
                    font-family: $Open_sans;
                    margin-bottom: 30px;
                }

                ul {

                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    li a {
                        font-size: 2rem;
                        color: $Color_White;
                        font-family: $Open_sans;
                        transition: 0.5s all;
                        text-transform: capitalize;

                        &:hover {
                            color: $Color_black;
                        }
                    }
                }
            }
        }
    }
}

footer.ftr_btm_sec {
    padding: 20px;
    background-color: $Color_black;
    text-align: center;

    p {
        color: $Color_White;
        font-family: $Open_sans;
        font-size: 2rem;
        text-align: center;

        a {
            color: $Color_White;
            font-family: $Open_sans;
            font-size: 2rem;
            transition: 0.5s all;

            &:hover {
                color: $Primary_Color;
                transition: 0.2s all;
            }
        }
    }
}



// ! Back to top Button

#btn-back-to-top {
    width: 40px;
    height: 40px;
    background-color: $Primary_Color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: 0.5s all;
    cursor: pointer;
    z-index: 5555;
    transition: 0.5s all;
    border: 1px solid $Primary_Color;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: none;
}

#btn-back-to-top svg {
    font-size: 15px;
    color: $Color_White;
}

















@media (max-width:1440px) {

    .footer_sec .ftr_otr .ftr_inr .scl_icns a {
        font-size: 18px;
    }
}

@media (max-width:1080px) {

    .footer_sec .ftr_otr .ftr_inr {
        padding-right: 50px;
    }

    .footer_sec .ftr_otr .ftr_inr:last-child {
        padding-left: 50px;
    }
}

@media (max-width:991px) {

    .footer_sec .ftr_otr {
        grid-template-columns: 1fr;
        grid-row-gap: 30px
    }

    .footer_sec .ftr_otr .ftr_inr .ftr_icn {
        justify-content: center;
    }

    .footer_sec .ftr_otr .ftr_inr {
        padding: 0;
        border: none;
    }

    .footer_sec .ftr_otr .ftr_inr .ftr_cntnt p {
        text-align: center;
    }

    .footer_sec .ftr_otr .ftr_inr:last-child {
        padding: 0;
    }

    .footer_sec .ftr_otr .ftr_inr .scl_icns {
        justify-content: center;
    }

    .footer_sec .ftr_otr .ftr_inr .ftr_left {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    .footer_sec .ftr_otr .ftr_inr .ftr_left h2 {
        text-align: center;
    }

    .footer_sec .ftr_otr .ftr_inr .ftr_left ul li {
        text-align: center;
    }
}


@media (max-width: 420px) {

    .footer_sec .ftr_otr .ftr_inr .ftr_icn {
        font-size: 5rem;
    }

}